body {
  margin: 0px;
  //overflow: hidden;
  color: white;
  text-align: center;
}
#magic{
  position: absolute;
  width: 100%;
  height: 100%;
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	z-index: 1;
}
#overlay > div {
	text-align: center;
}
#overlay > div > button {

	border: 0px;
	cursor: pointer;
	font-size: 125px;
	color:white;
	background: transparent;


}
#about{
	position: absolute;
    bottom: 0;
}
h1{
    border: 1px solid white;
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
    font-family: sans-serif;
}

