body {
  margin: 0px;
  //overflow: hidden;
  color: white;
  text-align: center;
}
#magic{
  position: absolute;
  width: 100%;
  height: 100%;
}
#button{
  position: absolute;
  top:100px;
}
#music{
  position: absolute;
  top:150px;
}